@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #fcff67;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #ff9721;
  color: #8b1111;
  border-radius: 0px 0px 30px 30px;

  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

nav a {
  text-decoration: none;
  color: #8b1111;
  font-size: 22px;
  background-color: #fcff67;
  border: 5px solid #8b1111;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: 2px solid #8b1111;
  background-color: #fcff67;
  border-radius: 15px;
  width: 200px;
  outline: none;
  color: #8b1111;
  font-weight: 600;
  transition: 0.3s;
}
.search-bar button[type="submit"] {
  border-radius: 50%;
  background-color: #fcff67;
  border: 2px solid #8b1111;
  position: absolute;
  right: -5px;
}
.search-bar button[type="submit"]::before {
  content: url("/images/search.png");
  display: block;
}

nav a:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}
.search-bar input[type="text"]:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

footer {
  background-color: #ff9721;
  color: #8b1111;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social_media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.social_media a img {
  width: 30px;
  height: 30px;

  margin: 0 10px;
}
.contact-form form {
  display: flex;

  align-items: start;
}
.contact-form form input,
textarea {
  padding: 10px;
  border: 2px solid #8b1111;
  background-color: #fcff67;
  border-radius: 15px;
  width: 200px;
  outline: none;
  color: #8b1111;
  font-weight: 600;
  transition: 0.3s;
}

.contact-form form button {
  border: 2px solid #8b1111;
  background-color: #fcff67;
  border-radius: 15px;
  padding: 10px 20px;
  margin-left: 10px;
  color: #8b1111;
  font-weight: 600;
  cursor: pointer;
}


.intro-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 60px 5%;
}

.intro-text {
  flex: 1;
  max-width: 600px;
}

.intro-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #8b1111;
}

.intro-text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background-color: #d45858;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  transition: .3s ease;
}

.btn:hover {
  background-color: #ff9721;
  border: 1px solid black;
  text-shadow: 0px 0px 10px black;
}


.intro-image img {
  max-width: 600px;
  height: 390px;
  border-radius: 12px;
}

.about_us_main{
  display: flex;
  justify-content: center;
}

.about_us_text{
  text-align: center;
  font-size: 22px;
  line-height: 2;
  width: 600px;
}

strong{
  color: #8b1111;
}

.favorite_ice{
  text-align: center;
  font-size: 40px;
  color: #8b1111;
}
.ice-text{
  text-align: center;
  font-size:20px;
}

.icecream_section{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.icecream-card{
  width: 300px;
  height: 400px;
  border: 5px solid #8b1111;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 30px;
}

.icecream-card img{
  max-width: 290px;
  border-radius: 5px;
  height: 70%;
}